#initially-showing {
  display: block;
}

#initially-hidden {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.red-background {
  background-color: red;
}

.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}

#red {
  background-color: red;
}
#green {
  background-color: green;
}
#yellow {
  background-color: yellow;
}

#text-big {
font-weight: bolder;
font-size: 30px;
}

#big {
  font-weight: bolder;
  font-size: 30px;
}

.big {
  font-weight: bolder;
  font-size: 30px;
}

.small {
  font-size: 8px;
  font-style: italic;
}
